body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 24px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

#traderId {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#suggestions {
  position: absolute;
  top: 48px;
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  border-radius: 0 0 5px 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}

#suggestions li {
  padding: 10px;
  cursor: pointer;
}

#suggestions li:hover {
  background-color: #f2f2f2;
}

#viewButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#viewButton:hover:not(.disabled) {
  background-color: #0056b3;
}

#viewButton.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Clear Button */
#clearButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #d76161;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

#clearButton:hover {
  background-color: #cc0000;
}

#clearButton.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


#totalProfitContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

.trade-type.sell {
  color: red;
  font-weight: bold;
}

.trade-type.buy {
  color: green;
  font-weight: bold;
}

.profit.positive {
  color: green;
  font-weight: bold;
}

.profit.negative {
  color: red;
  font-weight: bold;
}

.profit.default {
  color: black;
}
